.add-inp , .add-cost{
  margin-right: 10px;
}
.add-cost{
  width: 10%;
}
.add-task{
  text-align: center;
}

h2{
  font-style: italic;
  text-align: center;
}

.valute{
  display: inline-block;
  margin-right: 10px;
}

.add-btn{
  background: #99ed61;
  color: black;
  border: chartreuse;
  padding: 10px;
}
.del-btn{
  background: #f2293d;
  color: white;
  border: none;
  font-weight: bold;
  padding: 10px;
}

.task-field{
  margin-left: 10%;
  margin-top: 10px;
  display: flex;
}

.task-field p{
  margin-right: 10px;
}

b{
  margin-left: 10%;
}